header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--darkBlue);
}
.title {
    width: 30%;
    color: white;
    text-decoration: none;
}
.navigation {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation__link {
    color: white;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.hamburgerMenu img {
    width: 2vw;
    cursor: pointer;
}

@media screen and (width < 900px) and (width >= 600px) {
    .title {
        width: 55%;
    }
    .button--request-appointment {
        width: 30%;
    }
    .hamburgerMenu {
        width: 15%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (width < 600px) {
    .title {
        width: 80%;
    }
}